<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Dispara scripts/disparar-convite-domingo.sh às 08h00 de 13/09/2026 (hora local do Mac).
       Instalar: cp scripts/launchd/br.com.cdlaju.pesquisa.convite-domingo.plist ~/Library/LaunchAgents/
                 launchctl load ~/Library/LaunchAgents/br.com.cdlaju.pesquisa.convite-domingo.plist
       Remover:  launchctl unload ~/Library/LaunchAgents/br.com.cdlaju.pesquisa.convite-domingo.plist -->
  <key>Label</key><string>br.com.cdlaju.pesquisa.convite-domingo</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-i</string>
    <string>/bin/zsh</string>
    <string>/Volumes/PortableSSD/Aplicativos/pesquisa-sergipe-2026/scripts/disparar-convite-domingo.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Month</key><integer>9</integer>
    <key>Day</key><integer>13</integer>
    <key>Hour</key><integer>8</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/Users/elisonbomfim/.nvm/versions/node/v24.14.1/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key><string>/tmp/convite-domingo.launchd.log</string>
  <key>StandardErrorPath</key><string>/tmp/convite-domingo.launchd.log</string>
  <key>RunAtLoad</key><false/>
</dict>
</plist>
